* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", serif;   
}

body {
    margin: 10px; 
    background-color: #000000;
    
}

/* Nav */

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border-radius: 15px;
    background-color: #e94823;
    flex-wrap: wrap;
}

.logo {
    cursor: pointer;
    color: #edf0f1;
    font-size: 20px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #000000;
}

button {
    padding: 10px 25px;
    background-color: rgba(216, 216, 216);
    color: rgb(0, 0, 0);;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

/* Main */

main {
    background-color: #d8d8d8;
    border-radius: 15px;
    margin: 20px 0px;
    padding: 100px 10%;
    
    
}

.main-text {
    padding: 0px 0px 50px;    
}

.main-text h1 {
    padding: 10px;
    font-size: 28px;
    
}

main p {
    line-height: 1.5;
    font-size: 20px;
}


.img {
    width: 300px;
    position: absolute;
    top: 180px;
    left: 1400px;  
}

/* About */

.about {
    background-color: #e94823;
    border-radius: 15px;
    margin: 20px 0px;
    padding: 100px 10%;
}

.about h1 {
    padding: 0px 0px 50px;
    font-size: 28px;
}

.about p {
    line-height: 1.5;
    
}

/* Services */

.services {
    background-color: #D8D8D8;
    border-radius: 15px; 
    margin: 20px 0px;
    padding: 100px 10%;   
}

.services h1 {
    font-size: 28px;
}

.services-text {
    display: flex;
    justify-content: space-between;
    gap: 0px 20px;
    padding: 50px 0px 0px;
}

.image-container {
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 0px;;
    

}

/* Portfolio */

.portfolio {
    background-color: #e94823;
    border-radius: 15px; 
    margin: 20px 0px;
    padding: 100px 10%;
}


.portfolio h1 {
    padding: 0px 0px 50px;
    font-size: 28px;
}

.portfolio p {
    line-height: 1.5;
}

/* let's chat */

.chat {
    background-color: #D8D8D8;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 10px 10%;
}

.chat h1 {
    padding: 20px 0px 20px;
    font-size: 28px;

}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #D8D8D8;
    border-radius: 15px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
  }