* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", serif;   
}

body {
    margin: 10px; 
    background-color: #000000;
}

/* Nav */

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border-radius: 15px;
    background-color: #e94823;
}

.logo {
    cursor: pointer;
    color: #edf0f1;
    font-size: 20px;
}

.nav-links{
list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #000000;
}

button {
    padding: 10px 25px;
    background-color: rgba(216, 216, 216);
    color: rgb(0, 0, 0);;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

/* Main */

main {
    background-color: #d8d8d8;
    border-radius: 15px;
    margin: 20px 0px;
    padding: 100px 10%;
}

.main-text {
    padding: 0px 0px 50px;    
}

.main-text h1 {
    padding: 10px;
    font-size: 28px;
    
}

main p {
    line-height: 1.5;
}


.img {
    width: 200px;
    position: absolute;
    top: 200px;
    left: 600px;  
}

/* About */

.about {
    background-color: #e94823;
    border-radius: 15px;
    margin: 20px 0px;
    padding: 100px 10%;
}

.about h1 {
    padding: 0px 0px 50px;
    font-size: 28px;
}

.about p {
    line-height: 1.5;
}

/* Services */

.services {
    background-color: #D8D8D8;
    border-radius: 15px; 
    margin: 20px 0px;
    padding: 100px 10%; 
    
}

.services h1 {
    display: flex; 
}

.services-text {
    display: flex;
    gap: 0px 20px;
    padding: 50px 0px 0px;
}

.image-container {
    

}

.services-imgs {
    height: 100px;
    position: absolute;

}



/* Portfolio */

.portfolio {
    background-color: #e94823;
    border-radius: 15px; 
    margin: 20px 0px;
    padding: 100px 10%;
}

/* let's chat */

.chat {
    background-color: #D8D8D8;
    border-radius: 15px;
    margin: 20px 0px;
    padding: 100px 10%;
}